/*
    Estilos de la pagina de contacto
*/

#formulario {
    background: var(--blanco);
    margin: 25px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--sombra);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--gris);
    border-radius: 5px;
}

button.btn-enviar {
    background-color: var(--color-principal);
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.btn-enviar:hover {
    background-color: var(--color-secundario);
}

#otros{
    background: var(--blanco);
    margin: 25px auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--sombra);
}