/*
    Estilos del body
*/

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: var(--color-fondo);
}

/*
    Estilos de la pagina de contacto
*/

#formulario{
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80%;
}

#otros{
    
}

/*
    Estilos ha quitar
*/

div{
    border: 2px solid black;
}