/*
    Colores de la página "GoNorte"
*/

:root {
    --color-principal: #7D8B24;
    --color-secundario: #B7B1A1;
    --color-terciario: #C5A30E;
    --color-fondo: #D07C45;
    --blanco: #C6A35A;
    --gris: #7D7D7D;
    --sombra: rgba(0, 0, 0, 0.1);
    --hover-boton: #58611b;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2, h3 {
    color: var(--color-principal);
}

button {
    cursor: pointer;
}
