@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1, h2, h3{
    font-family: 'Bubblegum Sans', sans-serif;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/*
    Colores de la página "GoNorte"
*/

:root {
    --color-principal: #34495E;
    --color-secundario: #1ABC9C;
    --color-terciario: #A6B853;
    --color-fondo: #F4D03F;
    --blanco: white;
    --gris: #7D7D7D;
    --sombra: rgba(0, 0, 0, 0.1);
    --hover-boton: #7d8b3f;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2, h3 {
    color: var(--color-principal);
}

button {
    cursor: pointer;
}
