/*
    Colores de la página "GoNorte"
*/

:root {
    --color-principal: #922B21;
    --color-secundario: #E67E22;
    --color-terciario: #F1C40F;
    --color-fondo: #E9D78E;
    --blanco: #EcF0F1;
    --gris: #7D7D7D;
    --sombra: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2, h3 {
    color: var(--color-principal);
}

button {
    cursor: pointer;
}
