/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Sección de ubicación */
main {
  padding: 20px;
  flex: 1;
}

.location {
  text-align: center;
  margin-bottom: 40px;
}

.location h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.map-container {
  width: 600px; /* Tamaño del mapa */
  height: 450px; /* Tamaño del mapa */
  margin: 0 auto; /* Centrado horizontal */
  border: 2px solid var(--color-secundario);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

/* Otros restaurantes */
#otros {
  background: var(--blanco);
  margin: 25px auto;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--sombra);
}

#otros h3 {
  color: var(--color-secundario);
}
