#carta {
    text-align: center;
    padding: 2rem;
}

#carta h2 {
    color: #c5da41;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    justify-items: center;
}

.item {
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--gris);
    border-radius: 5px;
}

button.btn-enviar {
    background-color: var(--color-principal);
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.btn-enviar:hover {
    background-color: var(--color-secundario);
}

#otros{
    background: var(--blanco);
    margin: 25px auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--sombra);
}

#fechaHora_id{
    display: flex;
    gap: 27px;
}

.fechaHora{
    width: 45%;
}

